@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord6: #eceff4;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
}

html {
  font-family: var(--font-inter, Inter, sans-serif);
  background: var(--nord0);
  color: var(--nord6);
}
